body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: whitesmoke;
}

.logo {
    width: 200px;
}


.headerDefault {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
}

.headerCentrer {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.vert {
    background-color: lightgreen;
}

.bleuPale {
    background-color: lightblue;
}

.bleu {
    color: dodgerblue;
}

.orange {
    color: orange;
}

.bouton {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: medium;
    white-space: nowrap;
}

.bouton:hover {
    background-color: grey;
    color: white;
}

input {
    padding: 10px 20px;
    border-radius: 10px;
}

.carteMaison {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    margin: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    background-color: white;
}

.imgMaison {
    width: 200px;
    height: 200px;
    align-self: center;
    background-size: 100% 100%;
    display: block;
    overflow: hidden;
    border-radius: 7px;
}

.description {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.description p {
    width: 190px;
    margin: 0;
}

.centerformulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerformulaire * {
    margin: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
}

.boutonBleu {
    background-color: lightblue;
    color: black;
}

.boutonBleu:hover {
    background-color: dodgerblue;
}

.barreRecherche {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}

.barreRecherche p {
    margin: 0;
    margin-left: 1rem;
    font-size: large;
}

.barreRecherche input {
    width: 300px;
    margin-top: 0.4rem;
}

.barreRecherche div {
    margin-right: 0.4rem;
}

.barreRecherche span {
    font-weight: bold;
}

.information {
    margin: 1rem;
    display: flex;
}

.information div {
    margin-left: 1rem;
    display: block;
}

.information img {
    height: 600px;
}

.details {
    margin: 1rem;
}

.erreur {
    color: red
}

.message {
    display: flex;
    justify-content: center;
    font-size: x-large;
}

select {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border-width: 2px;
    margin: 0.4rem 0;
}

textarea{
    padding: 10px 20px;
    border-radius: 10px;
    border-width: 2px;
    resize: none;
    display: flex;
    width: 600px;
    height: 4rem;
}
.photo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}
.photo input{
    margin-bottom: 0.4rem;
}