body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.logo {
    width: 200px;
}


.headerDefault{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
}
.headerCentrer{
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.vert{
    background-color: lightgreen;
}
.bleu{
    background-color: lightblue;
}

.spanBleu{
    color: dodgerblue;
}
.spanOrange{
    color: orange;
}

.bouton{
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: medium;
    white-space: nowrap;
}

.bouton:hover{
    background-color: grey;
    color: white;
}

input{
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
}

.carteMaison{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article{
    margin: 1rem;
    border: 1px solid lightgrey;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.imgMaison{
    width: 200px;
    height: 200px;
    align-self: center;
    background-size: 100% 100%;
    display: block;
    overflow: hidden;
}

.description {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.description p{
    width: 190px;
    margin: 0;
}

.centerformulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerformulaire * {
    margin: 5px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
}

.boutonBleu{
    background-color: lightblue;
    color: black;
}

.boutonBleu:hover{
    background-color: dodgerblue;
}

.barreRecherche{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
}

.barreRecherche p{
    font-size: large;
    margin-left: 0.5rem;
}

.barreRecherche input{
    margin: 0.5rem;
    width: 300px;
}

.barreRecherche span{
    font-weight: bold;
}

.information{
    margin: 1rem;
    display: flex;
}

.information div{
    margin-left: 1rem;
}

.information img{
    height: 600px;
}

.details{
    margin: 1rem;
}

.erreur{
    color: red
}

.message{
    display: flex;
    justify-content: center;
    font-size: x-large;
}